{% extends 'user/layout' %}

{% block title user.full_name|title ~ ' detail' %}

{% block content %}
    <div class="col-sm-12 col-md-10 col-lg-8">
        <div class="card">
            <div class="card-header">Detail of <strong>{{ user.full_name|title }}</strong></div>
            <div class="card-body">
                <table class="table table-borderless cs-tbl-show">
                    <tr>
                        <td>ID</td>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <td>Full Name</td>
                        <td>{{ user.full_name }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Image</td>
                        <td>
                            <div class="img-wrapper model-show-image">
                                {{ user.getFirstMedia('users').img('thumb-120', {
                                    title: 'Image ' ~ user.full_name|title
                                }) | raw }}
                            </div>
                        </td>
                    </tr>
                    <tr class="d-none d-sm-table-row">
                        <td></td>
                        <td class="cs-action-bar">
                            <a class="btn btn-primary mr-1" href="{{ route('users.index') }}">
                                <i class="fas mr-1 fa-arrow-left"></i>
                                Back
                            </a>
                            <a class="btn btn-primary" href="{{ route('users.edit', user) }}">
                                <i class="fas fa-edit mr-1"></i>
                                Edit
                            </a>
                            <a class="btn btn-light float-right" href="{{ route('users.destroy', user) }}"
                               data-method="delete" data-toggle="bootbox"
                               data-confirm-message="Do you want to delete <strong>{{ user.full_name|title }}</strong>?">
                                <i class="fas mr-1 fa-trash"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr class="d-table-row d-sm-none">
                        <td class="cs-action-bar" colspan="2">
                            <a class="btn btn-primary mr-1" href="{{ route('users.index') }}">
                                <i class="fas mr-1 fa-arrow-left"></i>
                                Back
                            </a>
                            <a class="btn btn-primary" href="{{ route('users.edit', user) }}">
                                <i class="fas fa-edit mr-1"></i>
                                Edit
                            </a>
                            <a class="btn btn-light float-right" href="{{ route('users.destroy', user) }}"
                               data-method="delete" data-toggle="bootbox"
                               data-confirm-message="Do you want to delete <strong>{{ user.full_name|title }}</strong>?">
                                <i class="fas mr-1 fa-trash"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
